
.bg{
    background-image: url(images/loginWallpaper.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    }
body{
    background: #ffe259;
    background :linear-gradient(to right, #ffa751, #ffe259 );
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      
    }
    to {
      opacity: 1;
      
    }
  }
  
  .btn-animate {
    animation: fadeInUp 1s ease-out;
    
  }


#mapid {
    height: 300px;
    width: 50%;
    margin-top: 1.5%;

}

.grafico{
    background-color: rgba(121, 120, 120, 0.144);
    width: 18%;
    height: 18%;
}
